.container {
  font-family: "Roboto", Helvetica, Arial, Helvetica, sans-serif;
  font-size: 1em;
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center;
  padding: 5% 2% 5% 2%;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0.60rem;
  margin-top: 3%;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 4em;
}

#txtSearch {
  width: 30em;
  word-wrap: break-word;
}

input {
  font-size: 20px;
}

.form-control {
  padding: 20px;
  height: 50px;
}

li {
  display: grid;
  grid-template-columns: auto 5em;
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-template-areas:
    'task-name icons';
  width: 30em;
  min-height: 55px;
  margin: .5em auto;
  font-size: 20px;
  word-wrap: break-word;
}

.task-name {
  grid-area: task-name;
}

.icons {
  grid-area: icons;
}

.material-icons {
  float: right;
  cursor: pointer;
  color: #393939;
  display: none;
  position: relative;
}

li:hover .material-icons{
  display: inline-block;
}

.list-group-item {
  padding: 13px 20px 10px 20px;
}

.row-items > span {
  padding: 0px 20px 0px 20px;
  font-size: .9em;
}

.delete {
  padding-left: 15px;
}

.edit {
  padding-left: 15px;
}

.strike{
  text-decoration: line-through;
}

@media (max-width: 640px) {
  h1 {
    font-size: 3em;
  }
  input {
    font-size: 16px;
  }
  #txtSearch {
    width: 25em;
  }
  li {
    width: 25em;
    min-height: 55px;
    margin: .5em auto;
    font-size: 16px;
  }

}