/* Background image: https://source.unsplash.com/ */

body {
  background-image: url("https://source.unsplash.com/sDbj1dFlFPU/1600x900");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.container {
  font-family: "Roboto", Helvetica, Arial, Helvetica, sans-serif;
  font-size: 1em;
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center;
  padding: 10%;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 4em;
}

#txtSearch {
  width: 25em;
}

input {
  font-size: 20px;
}

.form-control {
  padding: 20px;
  height: 50px;
}

.material-icons {
  float: right;
  cursor: pointer;
  color: #393939;
  display: none;
}

li {
  height: 55px;
  margin: .5em auto;
  font-size: 20px;
}

li:hover .material-icons{
  display: inline-block;
}

.list-group-item {
  padding: 13px 20px 10px 20px;
}

.row-items > span {
  padding: 0px 20px 0px 20px;
  font-size: .9em;
}

.delete {
  padding-left: 15px;
}

.strike{
  text-decoration: line-through;
}