.container {
  font-family: "Roboto", Helvetica, Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #101010;
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center;
  padding: 5% 0 5% 0;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0.70rem;
  margin-top: 3%;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
  font-size: 4em;
}

#txtSearch {
  width: 30em;
  word-wrap: break-word;
  border-radius: 0.70rem;
  min-height: 55px;
}

input {
  font-size: 20px;
}

input:focus {
  border-color: #505050;
  border-style: solid;
  border-width: 1px;
}

.form-control {
  padding: 20px;
  height: 50px;
}

li {
  display: grid;
  grid-template-columns: auto 5em;
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-template-areas:
    'task-name icons';
  width: 30em;
  min-height: 55px;
  margin: .5em auto;
  font-size: 20px;
  word-wrap: break-word;
  border-radius: 0.70rem;
}

.task-name {
  grid-area: task-name;
}

.icons {
  grid-area: icons;
}

.material-icons {
  float: right;
  cursor: pointer;
  color: #393939;
  display: none;
  position: relative;
}

li:hover .material-icons{
  display: inline-block;
}

.list-group-item {
  padding: 13px 20px 10px 20px;
}

.row-items > span {
  padding: 0px 20px 0px 20px;
  font-size: 1em;
}

.delete {
  padding-left: 15px;
}

.edit {
  padding-left: 15px;
}

.strike{
  text-decoration: line-through;
}

@media (max-width: 640px) {
  .container {
    margin-left: 5%;
    margin-right: 5%;
  }
  
  h1 {
    font-size: 3em;
  }
  input {
    font-size: 16px;
  }
  #txtSearch {
    width: 25em;
  }
  li {
    width: 25em;
    min-height: 55px;
    margin: 1em auto;
    font-size: 16px;
  }

}

@media (min-width: 641px) and (max-width: 778px) {
  .container {
    margin-left: 3%;
    margin-right: 3%;
  }
  h1 {
    font-size: 3.5em;
  }
  li {
    width: 25em;
  }
  #txtSearch {
    width: 25em;
  }
}

@media (min-width: 992px){
  .container {
    width: 60em;
  }
}