<div class="container">
  <h1>Your Grocery List</h1>
  <!-- <div class="col-xs-6 col-md-4"></div> -->
    <div class="form">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="what do you need today?" autofocus="autofocus" id="txtSearch" [(ngModel)]="task.name" (keyup.enter)="onClick()"/>

      <!-- Field button -->
      <!-- <div class="input-group-btn">
        <button class="btn btn-primary" type="button" (keyup.enter)="onClick()"> -->
          <!-- <span class="glyphicon glyphicon-ok"></span> -->
          <!-- <i class="material-icons">add</i>
        </button> 
      </div> -->

    </div>

<!-- Task entered with delete icon next to it and strikethrough class -->
<ul class="list-group">
  <li *ngFor="let task of tasks" class="list-group-item">
    
    <span (click)="onStrike(task)" [ngClass]="{'strike': task.strike}">{{task.name}}</span>
    <span (click)="onEdit(task)" class="glyphicon glyphicon-pencil floatright"></span>
    <i (click)="deleteTask(task)" class="material-icons">delete</i>
  </li>
</ul>

<!-- Displays count of rows -->
<div class="row-items" *ngIf="tasks.length > 0">
  <span>{{tasks.length}} {{tasks.length == 1 ? 'row' : 'rows'}} left</span>
</div>
</div>
</div>
