<div>
  
  <h2>Grocery List Manager</h2>
<div class="row">
  <div class="col-xs-6 col-md-4">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="enter grocery items" id="txtSearch" [(ngModel)]="task"/>
      <div class="input-group-btn">
        <button class="btn btn-primary" type="button" (click)="onClick()">
          <!-- <span class="glyphicon glyphicon-ok"></span> -->
          <i class="material-icons">add</i>
        </button>
      </div>
    </div>
  </div>
</div>
<ul class="list-group">
  <li *ngFor="let task of tasks" class="list-group-item">
    <span>{{task.name}}<i (click)="deleteTask(task)" class="material-icons">delete</i></span>

    <!--<span (click)="onEdit(task)" class="glyphicon glyphicon-pencil floatright"></span>
    <span class="glyphicon glyphicon-remove floatright paddingLeft"></span>  -->
  </li>
</ul>

</div>
